<textarea
  id={{UUID}}
  value={{value}}
  class="materialize-textarea {{if value
    (concat
      "validate"
      " "
      (if errors.length "invalid" "valid")
    )}}"
  onkeyup={{action 'setValue'}}
  onchange={{action 'setValue'}}>
</textarea>

<label class={{if value "active" ""}} for={{UUID}} data-error={{_errorMessages}}>
  {{label}}{{yeild}}
</label>
