<i class="material-icons prefix">link</i>
<input onchange={{attrs.onchange}} type="text" id={{UUID}} value={{value}} class="autocomplete" />
<label class={{if value "active" ""}} for={{UUID}}>{{label}}</label>
{{yield}}
