{{#if attrs.editMode}}
  {{input-field
    value=input.label
    onkeyup=setLabel
    label="What is this field called?"
    classNames="col s12"
  }}

  {{input-field
    value=input.meta.off_label
    onkeyup=(action 'setOffLabel')
    label="Off label"
    classNames="col s12 m6 l6"
  }}

  {{input-field
    value=input.meta.on_label
    onkeyup=(action 'setOnLabel')
    label="On label"
    classNames="col s12 m6 l6"
  }}

{{/if}}

{{#if attrs.previewMode}}
  <div class="col s12">
    {{#if editMode}}
      <p class="mb1"><strong>Switch Preview:</strong></p>
    {{/if}}

    <p class="mb1">{{input.label}}</p>

    {{input-switch
      value=input.value
      onLabel=input.meta.on_label
      offLabel=input.meta.off_label
      onchange=(action 'setInputValue') }}
  </div>
{{/if}}
{{yield}}
