{{#if attrs.editMode}}
  {{input-field
    value=input.label
    onkeyup=setLabel
    label="What is this field called?"
    classNames="col s12"
  }}

  {{#each input.meta.radio_inputs as |radio|}}
    <p class="col s12 mb1">
      {{input-radio
        editable=true
        name=radio.groupName
        label=radio.label
        checked=radio.checked
        onchange=(action 'setInputValue' radio)
        onlabeledit=(action 'setLabelFor' radio)
        onremove=(action 'removeRadio' radio)
      }}
    </p>
  {{/each}}

  <a onclick={{action 'addRadio'}} href="javascript:;" class="col mb1">
    <i class="material-icons left">add</i>
    Add Another Choice
  </a>
{{/if}}

{{#if attrs.previewMode}}
  <div class="col s12">
    {{#if editMode}}
    <p class="mb1"><strong>Multiple Choice Preview:</strong></p>
    {{/if}}

    <p class="mb1">{{input.label}}</p>
    {{#each input.meta.radio_inputs as |radio|}}
      {{input-radio
        name='preview-group'
        label=radio.label
        checked=radio.checked
        editable=false
        onchange=(action 'setInputValue' radio)
      }}
    {{/each}}

  </div>
{{/if}}
{{yield}}
