{{app-side-nav classNames="fixed"}}
{{app-header pageTitle="Locations"}}

{{#md-layout}}
  <div class="row">
    <p class="col s12 caption light m0">These are all of your brick and mortar locations. Each
      location holds assets, inventory, and can be managed by employees.</p>
  </div>

  <div class="row">
    {{#md-card classNames="col s12"}}
      <ul class="collection">
        {{#each model.companies as |company|}}
        <li class="collection-item avatar" onclick={{route-action 'showCompany' company}}>
            <i class="material-icons green circle">chat</i>
            <span class="title">{{company.title}}</span>
            <p class="gray-text">Owner: {{company.owner.email}}</p>
            <span class="secondary-content">
              <i class="material-icons red-text" onclick={{route-action 'destroyCompany' company}}>remove_circle </i>
            </span>
          </li>
        {{else}}
          <li class="collection-item">
            No companies yet...
          </li>
        {{/each}}
      </ul>
    {{/md-card}}

  </div>
{{/md-layout}}
