{{app-header pageTitle=model.title}}

{{#md-layout}}
  {{#md-card title="Assets"}}
    <ul class="collection">
      {{#each model.categories as |category|}}
        <li class="collection-item" >
          {{category.name}}
          <div class="secondary-content">
            <a href="javascript:;" onclick={{route-action 'showCategory' category}}>
              <i class="material-icons">visibility</i>
            </a>
            <a href="javascript:;" class="red-text ml1" onclick={{route-action 'destroyCategory' category}}>
              <i class="material-icons">remove_circle</i>
            </a>
          </div>
        </li>
      {{else}}
        <li class="collection-item">
          No categories yet...
        </li>
      {{/each}}
    </ul>
  {{/md-card}}

  {{#md-card
    title='Create New Category'
    buttonText='Create'
    onsubmit=(route-action 'createCategory')}}
    <div class="row">
      {{input-field value=model.newCategoryName label="Category name" classNames='col s12' errors=model.newCategoryErrors}}
    </div>
  {{/md-card}}
{{/md-layout}}
