{{app-side-nav classNames="fixed"}}
{{app-header pageTitle="Locations"}}

{{#md-layout}}
  <div class="row">
    <p class="col s12 caption light m0">These are all of your brick and mortar locations. Each
      location holds assets, inventory, and can be managed by employees.</p>
  </div>

  {{#md-card
    buttonText="Add Location"
    onsubmit=(route-action "sendToNew")}}

    <ul class="collection">
      {{#each model.companies as |company|}}
        <li class="collection-item" >
          {{#link-to "app.companies.show" company}}
            <strong>{{company.title}}</strong>
          {{/link-to}}

          {{#if company.address}}
            <em class="grey-text">{{company.address.city}}, {{company.address.state}} {{company.address.zip}}</em>
          {{/if}}

          <div class="secondary-content">
            {{#link-to "app.companies.show" company classNames="tooltipped" data-tooltip="View Location"}}
              <i class="material-icons">visibility</i>
            {{/link-to}}

            {{#link-to "app.companies.edit" company classNames="ml1 tooltipped" data-tooltip="Edit Location"}}
              <i class="material-icons">edit</i>
            {{/link-to}}

            {{#link-action
              classNames="ml1 red-text tooltipped"
              data-tooltip="Delete Location"
              onclick=(route-action "removeCompany" company)}}

              <i class="material-icons">remove_circle</i>
            {{/link-action}}
          </div>
        </li>
      {{else}}
        <li class="collection-item">
          <strong>You have no locations, click 'Add Location' below to begin</strong>
        </li>
      {{/each}}
    </ul>
  {{/md-card}}
{{/md-layout}}
